.stack{
    width: 20%;
    height: 100%;
    background-color: rgba(233, 233, 234, 0.62);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


















