.hanoi-container{
  height: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hanoi-row{
  background-color: whitesmoke;
  width: 100%;
  height: 60%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}